.wrapper {
    max-width: 250px;
    display: flex;
    justify-content: space-between;
}

.wrapper div {
    margin-bottom: 5px;
}

.name {
    width: 100px;
}

.name

.priority {
    background-color: navajowhite;
}

button {
    cursor: pointer;
    margin-right: 10px;
}

.priorityHigh {
    color: red;
}

.priorityMiddle {
    color: orange;
}

.priorityLow {
    color: yellowgreen;
}