input:focus {
    /*outline: none;*/
    border: bisque;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}

.superInput {
    border-bottom-color: blue;
    color: blueviolet;
}