.wrapper {
    display: flex;
    align-items: flex-start;
}

input {
    outline:none;
    margin: 10px;

}

.error {
    border: 1px solid red;
}

.errorTitle {
    color: red;
    height: 25px;
}

button {
    margin: 10px;
}

